
    #container{
      width: 100%;                          
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }      
     
    #image{
      width: 80%;
      height: 80px;
      margin: auto;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    #h1{
    margin-right: auto;    
    text-align: left;
    justify-content: start;
    font-size: 30px;
}
#sig{
       width: 80%;      
      margin: auto;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#ques{
  width: 40%;
  margin: auto;
  text-align: left;
  justify-content: left;
  
}
#foot{
  width: 100%;

}
#email1{
            width: 150px;
            height: 26px;
            margin-top: 0%;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .fa {
  padding: 10px;
  font-size: 50px;
  width: 20px;
  height: 20px;
  text-align: center;
  justify-content: center;
  text-decoration: none;  
  border-radius: 50%;
  justify-content: space-around;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fa:hover {
    opacity: 0.7;
}
      .fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
  
}
.fa-pinterest {
  background: #cb2027;
  color: white;
}
        #btn{
            color: white;
            background-color: black;           
            padding: 4px 10px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        #btn:hover{
            background-color: rgb(228, 226, 226);
            color: black;
            border: transparent;
        }
        
        #footer{
            display: flex;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            width: 90%;
            margin: auto;
        }
        #fhead{
            text-align: left;
            justify-content: left;  
        }
        #info{
            width: 40%;
            justify-content: left;
            margin-left: auto;
        }
        #abtacc{
            width: 25%;
            margin-left: 20px;
        }
        #abtdis{
            width: 25%;
            margin-left: 20px;
        }
        #abtfind{
            width: 25%;
            
        }
        #abtcust{
            width: 25%;
            margin-left: 20px;

        }
        #footanc{
            text-decoration: none;
            line-height: 26px;
            color: rgb(102, 101, 101);
        }
        #footanc:hover{
            color: #55ACEE;
        }
        #imga{
          width: 50%;
          height: 100px;
          margin-left: auto;
        }
         #last{
       margin-top: 60px;
        width: 100%;
        height: 100px;
        background-color: rgb(223, 221, 221);        
        
        justify-content: center;       
       

    }
    #cr{
        margin-top: 50px;
        text-align: center;
        
        margin: auto;
        
    }
    #bottom{       
       
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    #infom{
        margin: auto;
        justify-content: center; 
        align-content: center;
        margin-bottom: 30px;
        margin-left: 15px;
       
    }
    #information{
      width: 40%;
      margin: auto;
      border: 1px solid red ;
    }
    #button{
    background-color: rgb(87, 63, 173);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    justify-content: center; 
    width: 200px;
    height: 35px;      
    margin-top: 40px;
    margin-left: 100px;       
    
   
}
#button:hover{
    background-color: rgb(155, 153, 155);
    border: transparent;
    cursor: pointer;
    color: black;
}


      #inf1,#inf2,#inf3,#inf4,#inf5,#inf6
      {
        width: 98%;
        height: 35px;
        border: 0.2px solid rgb(143, 143, 143);
      }
       
       #sub{
         justify-content: center;
         text-align: center;
         margin: auto;
         width: 100%;
         margin-top: 50px;
         
       }
       a{
         text-decoration: none;
         color: black;
       }

        
