.header{
    height: 100px;
    text-align: center;
}

.msg{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.main_box{
    width: 70%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.main_box>div:nth-child(3)
{
    display: flex;
}

.pricing_details{
    padding: 20px;
}
.shipping_details
{   
    padding: 20px;
}

.pricing_details>div{
    display: flex;
    font-size: 14px;
    justify-content: space-between;
}

.show_cart img{
    width: 50%;
    height: 60%;
}

.show_cart{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.pricing_details>div{
    display: flex;
    font-size: 14px;
    justify-content: space-between;
}

.white_space
{
    margin: auto;
    background-color: whitesmoke;
    height: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}