.header{
    border: 1px solid black;
    height: 100px;
}

.main_box{
    width: 80%;
    margin: auto;
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav_bar{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.recommend_box{
    width: 70%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    text-align: center;
}

.recommend_box>div{
    display: flex;
    margin-top: 20px;
}
#count_text{
    font-size: 20px;
}

.nav_bar>button{
    background-color: green;
    color: white;
    font-weight: 500;
    border: transparent;
    border-radius: 2px;
    padding: 10px 30px;
}

.recommend_box img{
    width: 40%;
}
.cart_info>div:nth-child(1){
    background-color: whitesmoke;
    padding: 10px;
    margin-top: 50px;
    text-align: center;
    font-weight: 500;
}

.cart_info>div:nth-child(2){
    margin: auto;
    margin-top: 20px;
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.cart_info>div:nth-child(2) p{
    color: blue;
}

.white_space{
    background-color: whitesmoke;
    width: 5px;
}

.display_cart{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 5%;
    margin-top: 30px;
    padding: 2%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.display_cart>div:nth-child(2n)
{   
    text-align: right;
}

img{
    width: 20%;
}

button{
    padding: 10px;
}

